<div class="row">
    <div class="horiz-card">

        <div class="horiz-card-img">
            <img class="overview-img" src="/assets/images/{{ news.ref }}" alt="{{ news.ref }}">
        </div>

        <div class="horiz-card-body">
            <h4 class="name"><b>{{ news.title }}</b></h4>
            <p class="title">{{ news.day }}</p>
            <div class="proj-desc">{{ news.content }}</div>
            <p><a href="{{ news.permalink }}"><button class="button">READ</button></a></p>
        </div>

    </div>
</div>