<div class="row">
    <div class="overview">
        <div class="card">
            <img class="proj_img" src="/assets/images/{{ proj.ref }}" alt="{{ proj.ref }}">
            <div class="horiz-container">
                <h4 class="name"><b>{{ proj.title }}</b></h4>
                <p class="title">{{ proj.researchers }}</p>
                <div class="proj-desc">{{ proj.content }}</div>
                <a href="{{ proj.permalink }}"><button class="button">VIEW</button></a>
            </div>
        </div>
    </div>
</div>