<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <!-- Name -->
        <header class="post-header" style="margin: 0;">
          <h1 class="post-title">{{ page.title | escape }}</h1>
        </header>

        <h2 style="color: grey;">{{ page.position }}</h2>

        <!-- Photo -->
        <div style="margin-bottom: 25px;">
          <img class="bio" src="/assets/images/{{ page.ref }}">
        </div>

        <!-- Bio -->
        {{ content }}

        <!-- Social -->
        <h1>Reach me at:</h1>
        <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>