<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if site.baseurl -%}
      <img class="stretch" src="/{{ site.baseurl }}/assets/images/home.jpg">
    {%- else -%}
      <img class="stretch" src="/assets/images/home.jpg">
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
