---
layout: default
---
<article class="post">

  <div class="post-content">
    {%- if site.baseurl -%}
      {%- assign dir = '/' | append: site.baseurl -%}
    {%- else -%}
      {%- assign dir = "" -%}
    {%- endif -%}

    <h1><b>PROFESSORS</b></h1>

    <div class="row">
        <div class="column">
          <div class="card">

            <img class="prof" src="{{ dir }}/assets/images/taneja.jpg" alt="Taneja">
            <div class="container">
              <h4 class="name">Harsh Taneja</h4>
              <p class="title">Professor</p>
              <p>University of Illinois at Urbana-Champaign</p>
              <p>harsht@illinois.edu</p>
              <p><button class="button">VIEW</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">

            <img class="prof" src="{{ dir }}/assets/images/ng.jpg" alt="Ng">
            <div class="container">
              <h4 class="name">Margaret Ng</h4>
              <p class="title">Professor</p>
              <p>University of Illinois at Urbana-Champaign</p>
              <p>ymn@illinois.edu</p>
              <p><button class="button">VIEW</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
            <div class="card">
              
              <img class="prof" src="{{ dir }}/assets/images/maslowska.jpg" alt="Maslowska">
              <div class="container">
                <h4 class="name">Ewa Maslowska</h4>
                <p class="title">Professor</p>
                <p>University of Illinois at Urbana-Champaign</p>
                <p>ehm@illinois.edu</p>
                <p><button class="button">VIEW</button></p>
              </div>
            </div>
        </div>
    </div>

    <h1><b>GRADUATE STUDENTS</b></h1>

    <div class="row">
        <div class="column">
            <div class="card">

              <img class="prof" src="{{ dir }}/assets/images/bhalla.jpg" alt="Bhalla">
              <div class="container">
                <h4 class="name">Sakshi Bhalla</h4>
                <p class="title"></p>
                <p>University of Illinois at Urbana-Champaign</p>
                <p>sakshib3@illinois.edu</p>
                <p><button class="button">VIEW</button></p>
              </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
              
              <img class="prof" src="{{ dir }}/assets/images/ray.jpg" alt="Ray">
              <div class="container">
                <h4 class="name">Rik Ray</h4>
                <p class="title"></p>
                <p>University of Illinois at Urbana-Champaign</p>
                <p>rikray2@illinois.edu</p>
                <p><button class="button">VIEW</button></p>
              </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
              
              <img class="prof" src="{{ dir }}/assets/images/zhang.jpg" alt="Zhang">
              <div class="container">
                <h4 class="name">Maggie Zhang</h4>
                <p class="title"></p>
                <p>University of Illinois at Urbana-Champaign</p>
                <p>mz44@illinois.edu</p>
                <p><button class="button">VIEW</button></p>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">
          
          <img class="prof" src="{{ dir }}/assets/images/jones.jpeg" alt="Jones">
          <div class="container">
            <h4 class="name">Dominic Jones</h4>
            <p class="title"></p>
            <p>University of Illinois at Urbana-Champaign</p>
            <p>dzjones2@illinois.edu</p>
            <p><button class="button">VIEW</button></p>
          </div>
        </div>
      </div>
    </div>

    <h1><b>UNDERGRADUATE STUDENTS</b></h1>

    <div class="row">
        <div class="column">
            <div class="card">
              
              <img class="prof" src="{{ dir }}/assets/images/grinberg.jpg" alt="Grinberg">
              <div class="container">
                <h4 class="name">Ethan Grinberg</h4>
                <p class="title"></p>
                <p>University of Illinois at Urbana-Champaign</p>
                <p></p>
                <p><button class="button">VIEW</button></p>
              </div>
            </div>
        </div>
    </div>

  </div>

</article>