---
layout: default
---
<article class="post">

  <div class="post-content">
    {%- if site.baseurl -%}
      {%- assign dir = '/' | append: site.baseurl | append: '/' -%}
    {%- else -%}
      {%- assign dir = "" -%}
    {%- endif -%}

    <h1><b>PROFESSORS</b></h1>

    <div class="row">
      {%- assign page_paths = site.first_row -%}
      {%- include people_row.html -%}
    </div>

    <h1><b>GRADUATE STUDENTS</b></h1>

    <div class="row">
      {%- assign page_paths = site.second_row -%}
      {%- include people_row.html -%}
    </div>

    <div class="row">
      {%- assign page_paths = site.third_row -%}
      {%- include people_row.html -%}
    </div>

    <h1><b>UNDERGRADUATE STUDENTS</b></h1>

    <div class="row">
      {%- assign page_paths = site.fourth_row -%}
      {%- include people_row.html -%}
    </div>

  </div>

</article>